html {
    font-family: 'Lucida', Courier, monospace;
    font-size: 80%;
}
/*--------------------------------------------------------
FORM INPUTS
-------------------------------------------------------*/
.contact form {
        font-size: 15px;
        padding: 12px 12px;
        width:70%;
        margin: 2% auto;
        border-radius: 7px;
        font-family: 'Raleway', sans-serif;
    
}

.contact input[type="text"] {
    font-size: 15px;
    width: 80%;
    margin: 10px 1cm;
    border-radius: 7px;
    font-family: 'Raleway', sans-serif;
}